/*
	TEDx Bahcesehir - 2017 Main Website
	Author:Mert Akengin - @pvtmert
	Adjustments & Fixes:Zafer Huzmeli - @zaferhuzmeli
*/
/*
@import url('//fonts.googleapis.com/css?family=Nova+Cut');
@import url('//fonts.googleapis.com/css?family=Macondo+Swash+Caps');
@import url('//fonts.googleapis.com/css?family=Faster+One');
@import url('//fonts.googleapis.com/css?family=Offside');
@import url('//fonts.googleapis.com/css?family=Piedra&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Codystar:300,400&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Megrim');
@import url('//fonts.googleapis.com/css?family=Knewave&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Oregano:400,400i&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Finger+Paint');
@import url('//fonts.googleapis.com/css?family=Kelly+Slab&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('//fonts.googleapis.com/css?family=Chelsea+Market&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Monoton');
@import url('//fonts.googleapis.com/css?family=Yatra+One&subset=latin-ext');
@import url('//fonts.googleapis.com/css?family=Special+Elite');
*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?subset=latin-ext&family=Kalam');

A.ticket { font-family:"Kalam" !important; }

* {
	transition:0.25s;
	text-decoration: none;
}

HTML {
	background-color:firebrick;
	font-family:'Open Sans';
	font-weight:400;
	margin:0;
	padding:0;
}

BODY {
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color:white;
}

#loader {
	background-repeat:no-repeat;
	background-image:url("./img/wait.gif");
	background-size:initial;
	_background-position:calc(50% + 140px) 50%;
	background-position:center;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
	left:280px;
	opacity:1;
}

NAV {
	position:fixed;
	left:0;
	top:-1em;
	bottom:-1em;
	overflow:auto;
	text-align:left;
	width:280px;
	_box-shadow:inset 0 0 0.5em black;
	box-sizing:border-box;
	font-size:1.1em;
	background-color:#333;
	padding:0;
	_height:calc(100% + 0.6em);
	_float:left;
	z-index:99;
	box-shadow:0 0 0.5em #222;
}
NAV.img {
	background-size:cover;
	background-repeat:repeat-y;
	background-position:center center;
	background-attachment:fixed;
	transition:background 0s;
	background-size:cover;
	_border-radius: 30px;

}

NAV HR {
	margin:16px 8px;
	box-sizing:border-box;
	height:1px;
	border:none;
	background-color:white;
	opacity:0.33;
}

NAV A, NAV SPAN {
	color:white;
	display:block;
	text-decoration:none;
	cursor:hand;
	margin:8px 12%;
	font-size:1.2rem;
}

NAV A:not(.media) {
	margin:8px 0;
	padding:4px 8%;
	_border-radius:4px;
}

NAV A.media {
	min-width:28px;
	min-height:28px;
	background-size:contain;
	background-position:left center;
	_padding-left:36px;
	vertical-align:middle;
	display:inline-block;
	margin:4px;
	width:38px;
	height:38px;
}

NAV SPAN:not(.logo) {
	background-color:#eee;
	_box-shadow:inset 0 0 0.3em #333;
	padding:0 4px;
}

_NAV SPAN A {
	transition-delay:0.2s;
}
NAV A, NAV SPAN, NAV SPAN[collapsed], NAV SPAN A, NAV SPAN[collapsed] A {
	transition:height 0.5s, background 0.2s, color 0.1s, font-size 0.1s, width 0s;
}

NAV SPAN[collapsed] {
	background-color:transparent;
	box-shadow:none;
	padding:0;
}

NAV SPAN[collapsed]:hover {
	text-decoration:underline;
}

NAV SPAN[collapsed] A {
	font-size:0;
	margin:0;
	padding:0;
}
NAV SPAN[collapsed] A :not(A) {
	display:none;
}
NAV SPAN:not([collapsed]) {
	padding:6px;
	color:#222;
}
NAV SPAN A {
	_content:" \25CE ";
}
NAV SPAN:not([collapsed]) A {
	margin-left:18px;
	color:#222;
}

NAV A:not(.media):hover {
	text-decoration:underline;
	background-color:rgba(255,43,6,0.8);
	text-decoration:none;
	box-shadow:0 0 0.5em #222;
}

NAV SPAN.logo {
	background-position:center;
	background-size:contain;
	height:90px;
	margin:16px;
}

.container {
	display:block;
	_position:relative;
	box-sizing:border-box;
}

.container#main {
	margin-left:280px;
	_width:calc(99% - 20% - 1%);
	background-color:inherit;
}

.img {
	background-color:transparent;
	background-position: top;
	background-size:auto;
	background-clip:border-box;
	background-attachment:local;
	background-repeat:no-repeat;
}

H1, H2, H3, H4, H5, H6 {
	font-weight:300;
}

H1 {
	font-weight:200;
	font-size:3em;
	padding:10px;
	margin:auto;
}

H2 {
	text-align:center;
	margin:auto;
}

/* padding-top:3rem; */

.container .container {
	display:block;
	height:24rem;
	vertical-align:bottom;
	border-radius:12px;
}
.container .container DIV {
	position:relative;
	background-size:cover;
	background-attachment:local;
	background-position:bottom center;
	height:100%;
	_box-shadow:0 0 0.5em black;
}
.container .container DIV.blur {
	-webkit-filter:blur(4px);
	filter:blur(4px);
}
.container .container H1 {
	_text-transform:capitalize;
	font-family:"Open Sans";
	top:-6em;
	min-height:6em;
	display:block;
	position:relative;
	font-weight:300;
	color:white;
	_text-shadow:
		-1px -1px 1px black,
		0 0 0.2em white,
		0 0 0.3em white,
		0 0 0.4em white,
		0 0 1.5em white,
		0 0 1.7em white,
		0 0 1.9em white
	;
	box-sizing:border-box;
	text-align:center;
	transition:0s;
	_backdrop-filter:blur(4px);
	_-webkit-backdrop-filter:blur(4px);
	height:100%;
	top:-100%;
	padding-top:3em;
}
.container .container H1 I {
	display:block;
	margin-top:10%;
}

SECTION {
	font-size:1.2em;
	color:#222;
	padding:48px;
	box-sizing:border-box;
	_text-shadow:-1px -1px 1px #ccc;
}

.icon {
	vertical-align:bottom;
}
.check.icon {
	color:firebrick;
	position:absolute;
	margin-left:-18px;
	margin-top:4px;
	width:14px;
	height:8px;
	border-bottom:solid 1px currentColor;
	border-left:solid 1px currentColor;
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}
.menu.icon {
	color:firebrick;
	position:absolute;
	margin-left:2px;
	margin-top:10px;
	width:17px;
	height:1px;
	background-color:currentColor;
}
.menu.icon:before {
	content:'';
	position:absolute;
	top:-5px;
	left:0;
	width:17px;
	height:1px;
	background-color:currentColor;
}
.menu.icon:after {
	content:'';
	position:absolute;
	top:5px;
	left:0;
	width:17px;
	height:1px;
	background-color:currentColor;
}

.container SECTION A.sp {
	display:inline-block;
	width:300px;
	height:200px;
	background-size:contain;
}

.container SECTION P.member {
	background-size:cover;
	background-position:center center;
	display:block;
	width:33%;
	height:280px;
	text-align:center;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	padding:96px 48px;
	box-sizing:border-box;
	margin:2px 0;
}

.container SECTION P.member A {
	display:inline-block;
	visibility:hidden;
	opacity:0;
	width:64px;
	height:64px;
	background-size:contain;
	background-color:rgb(204,203,203);
	position:relative;
	transition:0s, 0.2s opacity;
}

/*
.container SECTION P.member:hover {
	box-shadow:inset 0 0 0 300px rgba(220,0,0,0.8);
	color:white;
}
.container SECTION P.member:hover A {
	display:inline-block;
}
*/

.container SECTION P.member .text {
	display:block;
	margin:auto;
	background-color:white;
	padding:4px;
	border-radius:4px;
	margin:-4px -48px;
	position:relative;
	margin-top:-96px;
}

.container SECTION P.member:nth-child(3n+1) .text {
	display:inline-block;
	clear:none;
	float:left;
}
_.container SECTION P.member:nth-child(3n+0) {
	margin-left:40%;
}
.container SECTION P.member:nth-child(3n+0) .text {
	float:left;
}
_.container SECTION P.member:nth-child(3n+2) {
	margin-right:40%;
}
.container SECTION P.member:nth-child(3n+2) .text {
	display:inline-block;
	float:right;
	clear:none;
}

.container SECTION#people {
	text-align:center;
}
.container SECTION P.member {
	display:inline-block;
}

.container SECTION P.member:hover {
	box-shadow:inset 0 0 0 999px rgba(220,0,0,0.8);
}
.container SECTION P.member:hover A {
	display:inline-block;
	visibility:visible;
	opacity:1;
}
.container SECTION P.member:hover .text {
	display:none;
	opacity:0;
}

NAV.mobile {
	background-size:contain;
	width:120px;
	height:60px;
	position:fixed;
	top:0;
	left:0;
	right:initial;
	bottom:initial;
	_transform:scale(1,-1);
	display:none;
	background-attachment:local;
	color:white;
	top:-2px;
	left:-2px;
	font-size:36px;
	text-align:center;
	width:auto;
	height:auto;
	padding:12px 16px;
	border-radius:8px;
	background-color:rgba(0,0,0,0.5);
	background-color:#ff2b06;
	border-radius:100%;
	top:initial;
	left:initial;
	right:24px;
	bottom:24px;
	padding:14px 16px;
	box-shadow:0 0 0.3em #333;
}

/*
NAV .img.logo { filter:blur(8px); }
.img.logo.okay {
	width:360px;
	height:90px;
	z-index:999;
	padding:18px;
	position:absolute;
	top:0;
	left:0;
	background-size:contain, cover;
	background-position:center center;
	background-origin:content-box, border-box;
}
*/

.container SECTION.dk {
	width:49%;
	height:auto;
}
.container SECTION.dk P {
	margin:0;
}
.container SECTION.dk A.dk {
	display:inline-block;
	float:left;
	margin:4px;
	padding:4px;
	width:100%;
	height:50%;
	background-size:contain;
	margin:8px 4px;
}
.container SECTION.dk[left] {
	float:left;
}
.container SECTION.dk[right] {
	float:right;
}

.container SECTION#gallery {
	text-align:center;
}
.container SECTION#gallery A.img {
	display:inline-block;
	width:320px;
	height:240px;
	background-size:contain;
}

.container SECTION P:first-child:first-letter {
	float:left;
	color:#ff2b06;
	font-size:72px;
	line-height:48px;
	padding-top:4px;
	padding-right:8px;
	padding-left:3px;
	font-family:Georgia;
}

.container SECTION#speakers {
	text-align:center;
}
.container SECTION#speakers P.member {
	width: 32%;
	height:360px;
	margin:4px 2px;
	position:relative;
	border-radius:8px;
}
.container SECTION P.member .desc {
	display:block;
	margin:auto;
	background-color:white;
	padding:4px;
	border-radius:4px;
	_margin:-4px -48px;
	position:relative;
	display:inline-block;
	position:absolute;
	bottom:-1px;
	right:-1px;
	left:-1px;
	background-color:rgba(255,255,255,0.85);
	_backdrop-filter:blur(8px);
}
.container SECTION#speakers P.member .text {
	font-size:1.1em;
}

hr.hr-stl{
	padding: 0;
	border: none;
	margin: 18px;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}
hr.hr-stl:after {
	content: "ยง";
     display: inline-block;
     position: relative;
     top: -0.7em;
     font-size: 1.5em;
     padding: 0 0.45em;
     background: white;
		 border-radius: 99em;
	 }
.nav-container{
	margin: 2em 0;
}

.container A.ticket {
	display:inline-block;
	margin:auto;
	font-size:300%;
	border:2px solid #fff;
	border-radius:12px;
	height:auto;
	text-decoration:none;
	padding:12px 24px;
	padding-bottom:0;
	background-color:white;
	color: rgb(44,11,11);
}
.container A.ticket:hover {
	box-shadow: inset 0 0 12px #fff;
	background-color: rgba(22,33,44,0.8);
	color:white;
}
@media (max-width:960px) {
	NAV { left:-280px; _width:0px; }
	NAV.img { transition:0s, transform 0.25s, left 0.25s; }
	_NAV .logo { width:360px; overflow:visible; }
	.container#main { margin-left:0px; width:100%; }
	NAV.mobile { display:block; }
	H1 { font-size:2.3em; }
	H2 { margin:1em auto; }
	.container SECTION P.member { width:67%; }
	.container SECTION#speakers { padding:0px; }
	.container SECTION#speakers P.member { width:85%; height:67%; }
	#loader { left:0; }
}
